# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://nkdbondfcdfyprffeoow.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=placeholder-anon-key
SUPABASE_SERVICE_ROLE_KEY=placeholder-service-role-key

# Site password (SHA-256 of "#Fils*#12@@")
NEXT_PUBLIC_SITE_PASSWORD_HASH=e138554f419cb4ea627a7a66355ae4d45a93ffdaf6b4881c892fe8937a33aaa0
